.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--space-2);
  gap: var(--space-1);
  font-size: var(--font-size-body);
  border: 1px solid transparent;
}

.root.mine {
  align-items: end;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.bubble {
  border-radius: var(--space-8);
  background-color: var(--primary);
  padding: var(--space-2) var(--space-5);
  color: var(--text-inverse);
  /* box-shadow: 4px 2px 12px rgba(97, 96, 96, 0.4); */
}

.bubble.mine {
  background-color: var(--surface);
  color: var(--text);
}

.timestamp {
  opacity: 60%;
  font-size: var(--font-size-caption);
  align-self: flex-end;
  padding-right: var(--space-2);
  font-size: var(--font-size-caption);
}
