.root {
  width: calc(3rem + (21rem * var(--progress)));
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  transition: width 0.4s ease-in-out;
  --progress: 1;
}

.sidebarInner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: var(--surface);
}

.iconBar {
  border-right: 1px solid var(--border);
  height: 100%;
  width: 3rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-2) 0;
}

.icon {
  color: var(--text);
}

.iconBarContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
  flex: 1;
}

.iconBarFooter {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  align-items: center;
}

.toggleButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-2);
}
.detailsBar {
  border-right: 1px solid var(--border);
  height: 100%;
  width: 21rem;
  flex-shrink: 0;
}

.detailsBarContent {
  padding: var(--space-2);
}
