.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 999px;
  border: 1px solid var(--border-strong);
  font-size: var(--font-size-label);
  background-color: var(--surface-raised);
}

.initials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.groupRoot {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.groupRoot :nth-child(2) {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.groupRoot :nth-child(1) {
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
}

.participants {
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
