.button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

/* primary */

.primary {
  padding: var(--space-sm) var(--space-sm);
  font-size: var(--font-size-label);
  font-weight: var(--weight-semibold);
  background-color: var(--primary);
  border-radius: var(--radius-md);
  width: 100%;
}

.primary:hover {
  background-color: var(--primary-hover);
}

.primary:active {
  opacity: 0.9;
}

/* icon */

.icon {
  background: none;
  padding: var(--space-2);
  color: inherit;
  border: 1px solid transparent;
}

.icon:hover {
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
}

/* menu icon */

.menuIcon {
  background: none;
  padding: var(--space-2);
  color: inherit;
}

.menuIcon:hover {
  background-color: var(--surface-hover);
  border-radius: var(--radius-md);
}

.menuIcon[aria-pressed="true"] {
  background-color: var(--primary);
  border-radius: var(--radius-md);
}

/* link */

.link {
  background: none;
  color: var(--text);
  padding: var(--space-2);
  border-radius: var(--radius-md);
  border: 1px solid transparent;
}

.link:hover {
  border-color: var(--border);
  background-color: var(--surface-hover);
  border: 1px solid var(--border-strong);
}

.link:active {
  background-color: var(--surface-active);
}
