.root {
  display: none;
  height: 100vh;
  width: 100vw;
}

.inset {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
}

.insetHeader {
  height: 3.5rem;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: var(--space-2);
}

.insetContent {
  flex: 1;
  min-height: 0;
}

.conversationTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-label);
  opacity: 60%;
  flex: 1;
}

@media (min-width: 768px) {
  .root {
    display: flex;
  }
}
