.root {
  display: none;
  flex-direction: row;
  height: 100%;
  width: 100%;
  --sidebarOpen: 1;
  transition: width 0.4s ease-in;
}

.inset {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.insetHeader {
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: var(--space-2);
}

@media (min-width: 768px) {
  .root {
    display: flex;
  }
}
